.table-bordered td {
    width: auto !important;
    white-space: nowrap;
}

td .form-control {
    height: 25px;
}

.highcharts-credits {
    enabled: false
}

fieldset.scheduler-border {
    border: 1px groove #33A2FF!important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            
}

legend.scheduler-border {
	color: #33A2FF!important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    border:none;
	width:100px;
}

.normaltable{
    white-space: wrap;
}

.panel-title{
    display: none;   
}
   
.modal-title{
    display:none;
}